body, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#content {    
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    background: green;
}

header img {
    max-width: 200px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

#container, #page {
    display: flex;
    flex-wrap: wrap;
}

#page .product {
    max-width: 220px;
    text-align: center;
}

#page .product img {
    max-width: 100%;
}

#page {
    width: 75%;
    justify-content: space-between;
}

#sidebar {
    width: 25%;
}